<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/index.css">
  <title>Vagas do Sine</title>
</head>

<body>
  <h1>Vagas do sine</h1>

  <form id="selector" action="/city" method="post">

    <label for="city">Escolha uma cidade</label>
    <br>
    <select name="city" id="cityselect">
      
      <% scrappedArray.forEach((element, i) => { %>
        <option value=<%= element[0].cityName %>><%= element[0].cityName %></option>
      <% }) %>
      
    </select>
    <br><br>
  </form>
  <hr>

  <% scrappedArray.forEach((element, i) => { %>
    
    <div class="city <%= element[0].cityName %>">
      <% element.forEach(element => { %>
        <div class="description">
          <h3 class="city-name"><%= element.cityName %> </h3>
          <p class="city-info"><%= element.cityInfo %> </p>
        </div>
        <hr>
        <li class="item">
          <span><%= element.vaga %> </span>
          <span><%= element.qt %> </span>
        </li>
      <% }) %>
    </div>

  <% }) %>

  <script>
    const city = document.querySelectorAll('.city')
    const selector = document.getElementById('selector')
    const cityselect = document.getElementById('cityselect')
    
    function hide(){
      city.forEach((element, i) => {
        element.style.display = 'none'
      })
    }
    hide()

    selector.addEventListener('submit', (event) => {
      event.preventDefault()
    })

    cityselect.addEventListener('change', (event) => {
      let elementClass = '.'+event.target.value
      let hiddenElement = document.querySelector(elementClass)
      hide()
      hiddenElement.style.display = 'block'
    })
  </script>
</body>

</html>