<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/index.css">
  <title>Vagas do Sine</title>
</head>

<body>
  <%= table %> 

  <% if(false){ %>
    <h1>
      <%= data.pageTitle %>
    </h1>
    <h3>
      <%= data.updateTime %>
    </h3>
    <p>
      <%= data.pageInfo %>
    </p>

    <ul>
      <% data.table.forEach(city => { %>
        <li>
          <h3>
            <%= city.name %>
          </h3>
          <p>
            <%= city.info %>
          </p>
          <ul>
            <% city.jobs.forEach(job => { %> 
              <li>
                <p>
                  <%= job.name %>
                </p>
                <p>
                  <%= job.qt %>
                </p>
              </li>
            <% }) %> 
          </ul>
        </li>
      <% }) %>

    </ul>
  <% } %>  

</body>

</html>